/* Coolors Exported Palette - coolors.co/3b1c32-d81e5b-6699cc-fff275-ff8c42 */

/* HSL */
$color1: hsla(317%, 36%, 17%, 1);
$color2: hsla(340%, 76%, 48%, 1);
$color3: hsla(210%, 50%, 60%, 1);
$color4: hsla(54%, 100%, 73%, 1);
$color5: hsla(23%, 100%, 63%, 1);

/* RGB */
$color1: rgba(59, 28, 50, 1);
$color2: rgba(216, 30, 91, 1);
$color3: rgba(102, 153, 204, 1);
$color4: rgba(255, 242, 117, 1);
$color5: rgba(255, 140, 66, 1);